<a href="https://colab.research.google.com/github/ashutosh3060/python-tricks/blob/master/data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Table of Contents

1. Create Dataframe:   
a) in Pandas    
b) from Dictionary   
c) from list   
2. Column:     
a) Create new columns       
b) Rename columns      
c) Drop Columns    
d)  
3. Index:   
a) loc   
b) iloc   
4. Subset Observations (Rows): 

5. Subset Variables (Columns)  


6. Visualizations    

7. Transformation    
a) Imputation  
b) Imbalanced Data Handling   
c) Outlier Detection   
d)

## Libraries

In [2]:
import numpy as np
import pandas as pd

### 1. Create Dataframe

In [25]:
## Create Empty Dataframe
df_empty = pd.DataFrame()
print(df_empty.shape)
# print(df_empty.head())

## Create Dataframe from Series
s1 = pd.Series(data=None, dtype='string', name='s1')
df_Series = pd.DataFrame(s1)
print(df_Series.shape)
# print(df_Series.head())

## Creating Pandas DataFrame from lists of lists
data_listoflist = [[101, 'Ashu'], [102,'Kwang'], [103,'Sandy']]
df_listoflist = pd.DataFrame(data=data_listoflist, columns=['Id', 'Name'])
print(df_listoflist.shape)
# print(df_listoflist.head())

## Create DataFrame from dict of narray/lists
data_dict_1 = {'Id':[101, 102, 103], 'Name':['Ashu', 'Kwang', 'Sandy']}
df_dict_1 = pd.DataFrame(data_dict)
print(df_dict_1.shape)
# print(df_dict_1.head())

## Create Dataframe from list of dicts
data_dict_2 = [{'Id': 101, 'Name': 'Ashu'}, {'Id': 102, 'Name': 'Kwang'}, {'Id': 103, 'Name': 'Sandy'}]
df_dict_2 = pd.DataFrame(data_dict_2)
print(df_dict_2.shape)
# print(df_dict_2.head())

# Create Dataframe by importing file
df_csv = pd.read_csv("/content/drug200.csv")
print(df_csv.shape)
df_csv.head()

(0, 0)
(0, 1)
(3, 2)
(3, 2)
(3, 2)
(200, 6)

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

### 2. Column Transformations

* Create New Columns

#### Below are the other formats to import data in pandas.

* #### excel   
read_excel,   
* #### parsers  
read_csv,  
read_fwf,  
read_table,  
* #### pickle   
read_pickle,   
* #### pytables   
read_hdf,   
* #### sql   
read_sql,   
read_sql_query,   
read_sql_table,   
* #### misc   
read_clipboard,    
read_parquet,    
read_orc,   
read_feather,   
read_gbq,   
read_html,   
read_json,   
read_stata,    
read_sas,   
read_spss